@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');
.heading{
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nameContainer{
    background-image: url("https://thumbs.gfycat.com/DefenselessChiefAmericancrocodile-max-1mb.gif");
    background-size: cover;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}
#name{
    font-size: 34px;
    font-family: "Times New Roman";
    font-weight: bold;
}
.festname{
    font-size: 28px;
    text-align: center;
    color: brown;
    font-weight: bold;
}
.festivalQuotes{
    font-family: "Ramabhadra";
    font-size: 20px;
}
.quotes-container{
    padding: 15px;
    border:2px solid green;
    margin: 15px;
    box-shadow: brown;
}
.whatsapp-link{
    background-image: linear-gradient(rgb(39, 143, 175),rgb(103, 189, 5));
    border-radius: 20px;
    text-align: center;
    padding: 5px;
}